.Container {
  width: 75%;
  margin: auto;
}

.all {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 5px;
  padding: 7px 0;
}

.all .Titles {
  flex-basis: 60%;
  text-align: center;
}
.all .buttons {
  flex-basis: 25%;
}
